

 body{
   background-image: url(texture.png); 
  background-repeat: repeat;  
   font-family: "Trebuchet MS", helvetica, sans-serif; 
} 

#content-container {
   margin: 10% auto; 
   width:500px;
   position: relative;
   font-family: "Trebuchet MS", helvetica, sans-serif; 
}

input#search {
   width:500px;
   height:36px; 
   font-size: 30px;
}

#search-container {
   margin-top:20px;
}

#results {
   font-size:20px;
   margin-top: 30px;
   margin-left: 10px; 
   text-align:left;
}
#crowl-result {
   font-weight:bold;
}
#author {
    position: fixed; 
    bottom:10px; 
    right: 10px; 
}  
#share {
    position: fixed; 
    bottom:10px; 
    left: 10px; 
}  
